<% if session[:lang] == "ua" 
    text ={
      :name => "Ім'я",
      :title_book => "Назва книги",
      :recensiya => "Рецензія",
      :ocinka => "Оцінка",
      :submit => "Підтвердити",
      :edit => "Редагувати",
      :back => "Назад"
    } 
  elsif session[:lang] == "en" 
    text ={
      :name => "Author",
      :title_book => "Name of book",
      :recensiya => "Review",
      :ocinka => "Rating",
      :submit => "Submit",
      :edit => "Edit",
      :back => "Back"
    } 
  elsif session[:lang] == "ru"
    text ={
      :name => "Автор",
      :title_book => "Назвиние Книги",
      :recensiya => "Рецензия",
      :ocinka => "Оценка",
      :submit => "Подтвердить",
      :edit => "Редактировать",
      :back => "Назад"
    } 
  end 
%>
<div class="col-md-4 col-md-offset-4 back">
  <p id="notice"><%= notice %></p>
  <div class="show_h2 text-center">

    <p>
      <strong><%= @kritic.name %></strong>
    </p>
  </div> 
  <div class="show_h2_content">
    <p>
      <strong><%= text[:title_book] %></strong>
      <%= @kritic.title_book %>
    </p>
    <p>
      <strong><%= text[:ocinka] %></strong>
      <div class="review-rating" data-score="<%= @kritic.ocinka %>"></div>
    </p>
    <p>
      <strong><%= text[:recensiya] %></strong>
      <%= @kritic.recensiya %>
    </p>
    <p>
      <span class="glyphicon glyphicon-thumbs-up"><%= @kritic.get_likes.size %></span>
      <span class="glyphicon glyphicon-thumbs-down"><%= @kritic.get_dislikes.size %></span>
    </p>
  </div>
  <di<div class="show_h2_content text-center">
    <%= link_to "Подобається", like_kritic_path(@kritic), class: "btn btn-default blue" %>
    <%= link_to "Неподобається", dislike_kritic_path(@kritic), class: "btn btn-default red" %><br>
    <%= link_to text[:edit], edit_kritic_path(@kritic) %> |
	 <%= link_to text[:back], kritics_path %>
  </div>
</div>
<script type="text/javascript">
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
         return $(this).attr("data-score");
      },
      path: "/assets/"
    });
  </script>