<% if session[:lang] == "ua" 
    text ={
      :name => "Ім'я",
      :title_book => "Назва книги",
      :recensiya => "Відгук",
      :ocinka => "Дата",
      :submit => "Підтвердити"
    } 
  elsif session[:lang] == "en" 
    text ={
      :name => "Author",
      :title_book => "Name of book",
      :recensiya => "Review",
      :ocinka => "Date",
      :submit => "Submit"
    } 
  elsif session[:lang] == "ru"
    text ={
      :name => "Автор",
      :title_book => "Назвиние Книги",
      :recensiya => "Отзив",
      :ocinka => "Дата",
      :submit => "Подтвердить"
    } 
  end 
%>
  <%= form_for(vidguk) do |f| %>
    <% if vidguk.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(vidguk.errors.count, "error") %> prohibited this vidguk from being saved:</h2>
        <ul>
          <% vidguk.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="form-group">
        <label class="col-xs-2 control-label"><%= text[:name] %></label>
        <%= f.text_field :name, :class => "form-control", :value => current_user.email, :disabled => "disabled" %>
      </div>
      <div class="form-group">
        <%= f.text_field :title_book, :value => @book.title, :class => "form-control", :type => "hidden" %>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label"><%= text[:recensiya] %></label>
        <%= f.text_field :vidguk, :class => "form-control" %>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label"><%= text[:ocinka] %></label>
        <%= f.text_field :date, :class => "form-control" %>
      </div>
      <div class="actions">
        <input type="submit" name="submit" class="btn" value="<%= text[:submit] %>">
      </div>
    <% else %>
      <div class="alert alert-danger">
        <strong>Ви не авторизовані!</strong>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label"><%= text[:name] %></label>
        <%= f.text_field :name, :class => "form-control", :disabled => "disabled" %>
      </div>
      <div class="form-group">
        <%= f.text_field :title_book, :value => @book.title, :class => "form-control", :type => "hidden" %>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label"><%= text[:recensiya] %></label>
        <%= f.text_field :vidguk, :class => "form-control", :disabled => "disabled" %>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label"><%= text[:ocinka] %></label>
        <%= f.text_field :date, :class => "form-control", :disabled => "disabled" %>
      </div>
      <div class="actions">
        <input type="submit" name="submit" class="btn" value="<%= text[:submit] %>" hidden>
      </div>
    <% end %>
  <% end %>