<p id="notice"><%= notice %></p>
<div class="back">
  <div class="text-center">
    <h1 class="col-md-6 col-md-offset-3"><%= t ".h1" %></h1>
  </div>
  <br>
</div>
<% if @books.count > 1 %> 
<div class="back">
  <div class="text-left">
    <ul class="list-inline">
      <li><%= t ".sort_by" %></li>
      <li>
        <select id="sort" name="sort">
          <option <% if cookies[:sort] %><% if cookies[:sort] == "title" %> selected <% end %><% end %> value ="title"><%= t ".by_title" %></option>
          <option <% if cookies[:sort] %><% if cookies[:sort] == "auth" %> selected <% end %><% end %> value="auth"><%= t ".by_auth" %></option>
          <option <% if cookies[:sort] %><% if cookies[:sort] == "likes_qty" %> selected <% end %><% end %> value="likes_qty"><%= t ".by_likes" %></option>
          <option <% if cookies[:sort] %><% if cookies[:sort] == "dislikes_qty" %> selected <% end %><% end %> value="dislikes_qty"><%= t ".by_dislikes" %></option>
        </select>
      </li>
      <li><%= t ".type_sort" %></li>
      <li>
        <select id="type_sort" name="type_sort">
          <option <% if cookies[:type_sort] %><% if cookies[:type_sort] == "asc" %> selected <% end %><% end %> value="asc"><%= t ".asc" %></option>
          <option <% if cookies[:type_sort] %><% if cookies[:type_sort] == "desc" %> selected <% end %><% end %> value="desc"><%= t ".desc" %></option>
        </select>
      </li>
      <li><a id="sorting" class="btn btn-default" href=""><%= t ".sort" %></a></li>
    </ul>
  </div>
</div>
<% end %>
<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-lg-3">
        <div class="box">
          <div class="box-gray aligncenter">
            <h3><%= link_to book.title, book, class: "product" %></h3>
            <h4><%= link_to book.auth, auths_path + "?utf8=✓&search=" + book.auth + "&commit=Пошук", :class => "product" %></h4>
            <div class="icon">
              <i class="fa fa-desktop fa-3x"></i>
            </div>
            <div class="product-item">
              <%= image_tag book.image_url.url(:medium), :class => "img-thumbnail" %>
              <div class="product-buttons">
                <br><%= book.mini_description %><br><br>
                <% 
                  read = t ".read"
                  read += "(" + book.language + ")"
                  download = t ".download"
                  download += "(" + book.rozshirennya + ")" 
                %>
                <%= link_to read, read_book_path(book), class: "btn btn-default" %>
                <%=form_for :download, url:  downl_path do |f| %>
                  <%= f.text_field :url_to_book, :value => book.name_of_file + "." + book.rozshirennya, :type => "hidden" %>
                  <%= f.submit download, class: "btn btn-default", :id => "download" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
<% if @books.count > 5 %>
  <div class="col-md-6 col-md-offset-3 text-center back">
    <%= will_paginate @books %>
  </div>
<% end %>
<script type="text/javascript">
  function cheked(select) {
    // берём значение из select и что-то с ним делаем
    return select.val();
  };
  $("#sorting").click(function(){
    value_sort = cheked($("#sort"));
    type_sort = cheked($("#type_sort"));
    document.cookie = "sort=" + value_sort;
    document.cookie = "type_sort=" + type_sort; 
    location = "?direction="+type_sort+"&page=1&sort="+value_sort;
  });
</script>