<p id="notice"><%= notice %></p>
<div class="back">
  <div class="text-center">
    <h1 class="col-md-6 col-md-offset-3"><%= t ".h1" %></h1></br>
    <% n = t ".new" %>
    <%= link_to n, new_book_path %>
  </div>
  <br>
</div>
<% if @books.count > 1 %> 
<div class="back">
  <div class="text-left">
    <ul class="list-inline">
      <li><%= t ".sort_by" %></li>
      <li>
        <select id="sort" name="sort">
          <option selected value="title"><%= t ".by_title" %></option>
          <option value="auth"><%= t ".by_auth" %></option>
          <option value="likes_qty"><%= t ".by_likes" %></option>
          <option value="dislikes_qty"><%= t ".by_dislikes" %></option>
        </select>
      </li>
      <li><%= t ".type_sort" %></li>
      <li>
        <select id="type_sort" name="type_sort">
          <option selected value="asc"><%= t ".asc" %></option>
          <option value="desc"><%= t ".desc" %></option>
        </select>
      </li>
      <li><a id="sorting" class="btn btn-default" href="#"><%= t ".sort" %></a></li>
    </ul>
  </div>
</div>
<% end %>
<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-lg-3">
        <div class="box">
          <div class="box-gray aligncenter">
            <h3><%= link_to book.title, book, :class => "product" %></h3>
            <h4><%= link_to book.auth, auths_path + "?utf8=✓&search=" + book.auth + "&commit=Пошук", :class => "product" %></h4>
            <div class="icon">
              <i class="fa fa-desktop fa-3x"></i>
            </div>
            <div class="product-item">
              <%= image_tag book.image_url.url(:medium), :class => "img-thumbnail" %>
              <div class="product-buttons">
                <%= book.mini_description %><br/>
                <% 
                  delete = t ".delete"
                  question = t ".question"
                %>
                <%= link_to delete, book, method: :delete, data: { confirm: question } %> 
              </div>
            </div>
          </div>
        </div>
      
    </div>
    <% end %>
  </div>
<% if @books.count > 5 %>
  <div class="col-md-6 col-md-offset-3 text-center back">
    <%= will_paginate @books %>
  </div>
<% end %>
<script type="text/javascript">
  $("#sorting").click(function(){
            select = document.getElementById('sort');
            value_sort=select.options[select.selectedIndex].value;
            select=document.getElementById('type_sort');
            type_sort=select.options[select.selectedIndex].value;
            location = "?direction="+type_sort+"&page=1&sort="+value_sort;
        });
</script>