<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @product.auth %>
</p>
<p>
  <strong>Zhanr:</strong>
  <%= @product.zhanr %>
</p>
<p>
  <strong>pages_qty:</strong>
  <%= @product.pages_qty %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
